
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

body{
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(124deg, red,#ff2400, #e81d1d, #e8b71d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
}
@keyframes rainbow { 
    0%{background-position:9% 82%}
    50%{background-position:100% 19%}
    100%{background-position:9% 82%}
}
button{
    
}
.centredContent{
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    position: relative;
}
.mainTitle{
    font-family: 'Kato';
    letter-spacing: 2vw;
    font-size: 10vmin;
    margin-bottom: 6vmin;
    transition: letter-spacing 0.4s ease-in-out;
    color: white;
    position: relative;
    
}
.mainTitle:hover{
    letter-spacing: 1.9vw;
}
.btn{
    margin: 2vmin;
    padding: calc(1em + 2px);
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-weight: 600;
    font-size: 3vmin;
    border: 2px solid white;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 30vmin;
    outline: none;
}
a{
    text-decoration: none;
    outline: none;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    border: 3px double white;
    padding: 1em;   
}
.historyIcon{
    position: absolute;
    color: white;
    font-size: min(7vmin, 2rem);
    top: 4vmax;
    right:4vmax;
    cursor: pointer;
}