
.window:not(.activeWindow){
    display: none !important;
}
.window:not(.settings){
    height: 100%;
}

.window{
    width: 100%;
    padding: 2rem;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
    user-select: none;
    color: white;
}
*{
    color: white;
}
.activeWindow{
    display: flex !important;
    
}
.title{
    font-family: "Inconsolata", monospace;
}
.settings{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(60deg,#2b1de8, #dd00f3);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.settings > div{
    height: 20%;
    display: flex;
    flex-direction: column;
    margin: calc(10vh / 6);
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}
button{
    background: transparent;
    border: 1px solid white;
    margin: 0.4rem;
    min-height: 2rem;
    
    min-width: 6rem;
    border-radius: 0;
    transition: box-shadow 0.1s;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    padding: 2px;
    background-color:rgb(0,0,0,30%);
}
button.active{
    border: 3px double white;
    padding: 0px;
    box-shadow: 2px 2px white;  
}
label{
    text-align: center;
}
button:hover{
    border: 3px double white;
    box-shadow: 2px 2px white;
    padding: 0px;
}

#startBtn{
    width: 8rem;
    height: 3rem;
    font-family: "Inconsolata", monospace;
    font-size: 1.3rem;
}
.choices{
    width: min(18rem, 90vw);
    
}
#gameSets option{
    height: 2rem;
}
.theGame{
    display: flex;
    flex-direction: column;
    background: linear-gradient(60deg,#085472, #3b0536);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.theGame .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.theGame .main{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
}
.thequestion{
    width: 50%;
    text-align: center;
    
}
.thequestion.smaller{
    font-size: 1.6rem;
}
.optionsAnswer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.optionsAnswer button{
    font-family: "Inconsolata", monospace;
    padding: 0.5rem;
    font-size: 1rem;
}
.optionsAnswer button:hover{
    padding: calc(0.5rem - 2px);
}
.optionsAnswer button.wrong{
    color: white;
    background-color: rgb(200, 0, 0, 60%);
    border: 3px double white;
    box-shadow: 3px 3px rgba(95, 1, 1, 0.6); 
    padding: calc(0.5rem - 2px); 
}
.optionsAnswer button.right{
    color: white;
    background-color: rgb(0, 200, 0, 60%);
    border: 3px double white;
    box-shadow: 3px 3px rgba(1, 98, 1, 0.6);  
    padding: calc(0.5rem - 2px);
}
div.footer{
    display: flex;
    justify-content: flex-end;
}
#nextBtn{
    font-size: 1.5rem;
    font-family: "Inconsolata", monospace;
    height: 2.5rem;
    width: 8rem;
}
#setName{
    font-size: 2rem;
    
}
#preciseAnswerInput{
    font-family: "Inconsolata", monospace;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid white;
    padding: 6px;
    outline: none;
    background:transparent;
    box-shadow: 2px 2px white;
}
#preciseAnswerInput:focus{
    border: 3px double white;
    padding: 4px;
}
#preciseAnswerInput.wrong{
    background-color: rgb(200, 0, 0, 60%);
    border: 3px double rgb(255, 66, 66);
    box-shadow: 2px 2px rgb(255, 66, 66);
    color:white;
    outline: none;
}
#preciseAnswerInput.right{
    background-color: rgb(0, 200, 0, 60%);
    border: 3px double rgb(67, 255, 67);
    box-shadow: 2px 2px rgb(67, 255, 67);
    color:white;
    outline: none;
}
.check{
    font-size: 1.5rem;
    padding: 6px;
    font-family: "Inconsolata", monospace;
    text-align: center;
    border: 1px solid white;
    width: 7rem;
    display: inline-block;
    cursor: pointer;
    box-shadow: 2px 2px white;
}
.check:hover{
    border: 3px double white;
    padding: 4px;
    box-shadow: 2px 2px white;
}
.results{
    display: flex;
    flex-direction: column;
    background: linear-gradient(60deg,#ff2400, #dd00f3);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.results .header{
    height: 10%;
    width: 100%;
}
.results .main{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10%;
}
.results .main > *{
    
}
.results .info{
    border-top: 1px solid white;
    width: max(20vw, 10rem);
    text-align: center;
}
.results button{
    width: 10vw;
    margin-top: 5vh;
}
.percentage{
    font-size: 5rem;
}
.disabled * {
    color: rgb(194, 194, 194);
    border-color: rgb(194, 194, 194) !important;
}
.disabled button.active, .disabled button:hover{
    box-shadow: none !important;
    border: 1px solid white;
    cursor: not-allowed;
}
.navBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.center{
    text-align: end;
}
@media only screen and (max-width: 26rem){
    .preciseAnswer{
        display: flex;
        flex-direction: column;
    }
    #preciseAnswerInput{
        width: 80vw;
    }
    .right{
        display: none;
    }
    .check{
        width:80vw;
    }
    .left{
        display: flex;
        flex-direction: column;
    }
}